<div class="text-center mt-5 bg-warning rounded-1">
    <h1>List of Users</h1>
    <!-- <div class="accordion" id="accordionExample">
      <div class="accordion-item" *ngFor="let userObj of users;let ind=index">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#acr' + ind">
            {{userObj.username}}
          </button>
        </h2>
        <div [attr.id]="'acr' + ind" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <h3>{{userObj.dob}}</h3>
            <h3>{{userObj.email}}</h3>
          </div>
        </div>
      </div>
    </div> -->

</div>